<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index </title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <!-- <form action="/output" method="get">
    <input type="name" name="username" placeholder="name">
    <input type="submit">
  </form>
  <h1>Hellow</h1> -->

  <div id="main">
    <div id="left">
      <div id="lnav">
        <h3>EXPLORER</h3>
        <div id="icons">
          <i id="fileicon" class="ri-file-line"></i>
          <i id="foldericon" class="ri-folder-2-line"></i>
          <i class="ri-restart-line"></i>
        </div>
      </div>
      
      <div id="ll">

        <form id="fileForm" action="">
          <input type="text" name="fileName" placeholder="Enter file Name">
        </form>
        <form id="folderForm" action="">
          <input type="text" name="folderName" placeholder="Enter folder Name">
        </form>

        <%files.forEach(function(elem){ %>
          <div id="files">
            <i id="fileicon" class="ri-file-line"></i>
            <h1><%= elem %></h1>
            <i id="edit" class="ri-pencil-line"></i>
          </div>
       <% }) %>

      </div>
    </div>
    <div id="right"></div>
  </div>
</body>

<script>

  function donoOff()
  {
    document.querySelector("#fileForm").style.display = "none";
    document.querySelector("#folderForm").style.display = "none";
  }
  document.querySelector("#fileicon").addEventListener("click",function(det)
  {
    donoOff();
    document.querySelector("#fileForm").style.display = "initial";
  })
  document.querySelector("#foldericon").addEventListener("click",function(det)
  {
    donoOff();
    document.querySelector("#folderForm").style.display = "initial";
  })

  window.addEventListener("keydown",function(det)
  {
    if(det.keyCode===27)
    {
      donoOff();
      document.querySelectorAll("form input").forEach(function(elem)
      {
        elem.value = "";
      })
    }
  })

</script>
</html>